Header {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: #212121;
    align-items: center;
    position: absolute;
    padding-left: 30vh;

    #Box {
        font-size: 3.5vh;
        margin-top: 0.8vh;
        padding-right: 0.8vh;
    }

    h3 {
        color: white;
        font-size: 2.5vh;
    }

    nav {
        padding-left: 10vh;
        display: flex;
        flex-direction: row;
        gap: 4vh;
        text-decoration: none;
    }

    h1 {
        color: white;
    }

    a {
        position: relative;
        color: white;
        text-decoration: none;
        font-weight: 500;
        font-size: 2vh;
    }

    a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        height: 2px;
        background-color: white;
        transition: width 0.3s ease;
    }

    a:hover::after {
        width: 100%;
    }
}