.MainScreen {
    display: flex;
    width: 100%;
    height: 100vh;
    color: white;
    flex-direction: column;

    h1 {
        margin-bottom: 1vh;
        font-size: 4vh;
    }

    .AlignCounter {
        display: flex;
        flex-direction: row;
        gap: 2.5vh;

        .Left {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1.3vh;
            width: 30vh;
            height: 15vh;
            background-color: rgba(128, 128, 128, 0.471);
            border-radius: 1vh;
            padding: 2vh;
            transition: all 0.5s;

            h2 {
                font-size: 2.5vh;
                font-weight: 200;
            }

            h3 {
                font-size: 3vh;
                font-weight: 500;
            }

            .Title {
                display: flex;
                flex-direction: column;
            }

        }

        #Admin {
            width: 35%;
            height: 5vh;
            padding: 0.2vh;
            font-size: 3vh;
            border-radius: 1vh;
            background-color: white;
            color: black;
            align-items: center;
            justify-content: center;
        }

        .Left:hover {
            transform: scale(1.03);
            background-color: rgba(128, 128, 128, 0.67);
        }

        .Right {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1.3vh;
            width: 30vh;
            height: 15vh;
            background-color: rgba(128, 128, 128, 0.471);
            border-radius: 1vh;
            padding: 2vh;
            transition: all 0.5s;

            h2 {
                font-size: 2.5vh;
                font-weight: 200;
            }

            h3 {
                font-size: 3vh;
                font-weight: 500;
            }

            .Title {
                display: flex;
                flex-direction: column;
            }

        }

        #Users {
            font-size: 3vh;
            width: 35%;
            height: 5vh;
            padding: 1vh;
            border-radius: 1vh;
            background-color: white;
            color: black;
            align-items: center;
            justify-content: center;
        }

        .Right:hover {
            transform: scale(1.03);
            background-color: rgba(128, 128, 128, 0.67);
        }

    }

    .button {
        display: flex;

        button {
            margin-top: 2vh;
            height: 5vh;
            width: 20vh;
            border-radius: 1vh;
            font-weight: 500;
            font-size: 2vh;
            background-color: white;
            color: black;
            outline: none;
            border: none;
            cursor: pointer;
            transition: all 0.5s;
        }

        button:hover {
            background-color: rgb(209, 209, 209);
        }
    }
}